@font-face {
    font-family: myFontFree;
    src: url("/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: Boldd;
    src: url("/fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
    font-family: pro;
    src: url("/fonts/SF-Pro-Display-Medium.otf");
}


:root {
    --white-color: #FFF;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: myFontFree;
    display: flex;
    justify-content: center;

}

.layout {
    padding: 54px 30px 45px 30px;
    width: 414px;
    height: 896px;
    background: linear-gradient(180deg, #E5B2CA 0%, #CD82DE 100%);
}

.title {
    font-family: pro;
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    /* letter-spacing: 1px; */
    margin-bottom: 6px;
}

.request {
    font-family: pro;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    font-size: 34px;
    text-align: center;
    margin-bottom: 37px;
}

.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding-left: 50px;
    width: 342px;
    background-color: var(--white-color);
    border-radius: 37px;
    height: 74px;
    border: none;
    margin-bottom: 14px;
}

.icon {
    position: absolute;
    top: 29px;
    left: 21px;
    bottom: 30px;
    right: 307px;
}

.username,
.password {
    position: relative;
}

.username>.btn {
    width: 342px;
    font-weight: 600;
    font-size: 15px;
    color: #3C3C43;
    line-height: 23px;
}

.password>.btn {
    width: 342px;
    height: 72px;
    color: #3C3C43;
    font-size: 14px;
}

.btn-continue {
    font-family: pro;
    font-weight: 500;
    color: var(--white-color);
    width: 342px;
    background-color: rgba(120, 37, 139, 1);
    border-radius: 37px;
    height: 70px;
    border: none;
    margin-bottom: 14px;
    text-decoration: none;
    line-height: 72px;
    text-align: center;
    position: relative;
    /* letter-spacing: 1px; */
    font-size: 16px;
    margin-bottom: 32px;
    cursor: pointer;
}

.btn-continue>a {
    color: var(--white-color);
    text-decoration: none;
}

.btn-continue:hover {
    opacity: 0.8;
    transition: opacity ease-out .5s;
}

.icon-continue {
    position: absolute;
    top: 20px;
    bottom: 25px;
}

fieldset {
    z-index: 999;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top: 1px dashed rgba(255, 255, 255, 0.4);
    margin-bottom: 32px;
}

legend {
    text-align: center;
    padding: 0 12px 0 12px;
    color: var(--white-color);
}

.btn-create {
    margin: 0 auto;
    width: 342px;
    height: 70px;
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
    border-radius: 37px;

}

.btn-create:hover {
    opacity: 0.8;
    transition: opacity ease-out .5s;
}

.btn-create>a {
    font-family: pro;
    padding: 26px 99.7px;
    text-decoration: none;
    text-align: center;
    line-height: 72px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    /* letter-spacing: 0.8px; */
}

.layout-signup {
    padding: 54px 30px 45px 30px;
    width: 414px;
    height: 896px;
    background: linear-gradient(180deg, #9183DE 0%, #A094E3 100%);
}

legend {
    font-size: 14px;
}

.btn-ca {
    font-family: pro;
    font-weight: 500;
    color: var(--white-color);
    width: 342px;
    background: #52439A;
    box-shadow: 0px 25px 45px rgba(82, 67, 154, 0.25);
    border-radius: 37px;
    height: 70px;
    border: none;
    margin-bottom: 14px;
    text-decoration: none;
    line-height: 70px;
    text-align: center;
    position: relative;
    /* letter-spacing: 1px; */
    font-size: 16px;
    margin-bottom: 32px;
    cursor: pointer;
}

.btn-ca:hover {
    opacity: 0.8;
    transition: opacity ease-out .5s;
}

.btn-login:hover {
    opacity: 0.8;
    transition: opacity ease-out .5s;
}

.btn-login>a {
    font-family: pro;
    padding: 26px 144.9px;
    text-decoration: none;
    text-align: center;
    line-height: 72px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    /* letter-spacing: 0.8px; */
}

.btn-login {
    margin: 0 auto;
    width: 342px;
    height: 70px;
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
    border-radius: 37px;

}

.btn-pass {
    font-weight: 600;
    font-size: 15px;
    color: rgba(60, 60, 67, 1);

}

.img-header-login {
    text-align: center;
}