body {
    font-family: sans-serif;
}
.wrapper {
    width: 100%;
    background-image: url("./img/z2699875429041_f3ed526dec8127c71676545cd384416a.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding: 20px 25px;
}
.heading {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
.container {
    margin: 0 auto;
    margin-top: 60px;
    width: 100%;
    min-height: 500px;
    max-width: 1000px;
    padding: 50px 50px;
    background: #fff;
    border: 2px solid #350594;
}
.wrapper-slide {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 30px 30px;
}
.alert {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    margin: 0 auto;
    text-align: center;
    padding: 7px 10px;
    font-size: 16px;
    border-radius: 10px;

    color: #fff;
}
.alert.sucess {
    background: rgb(23, 221, 233);
    background: linear-gradient(90deg, rgba(23, 221, 233, 1) 0%, rgba(23, 62, 115, 1) 44%, rgba(22, 8, 255, 1) 100%);
    box-shadow: 0px 0px 12px rgba(22, 8, 255, .4);
}
.alert.err {
    background-color: rgb(228, 25, 25);
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.form-control {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}
.form-control input {
    width: 100%;
    display: inline-block;
    padding: 17px 100px 17px 80px;
    border: 1px solid #3c3c3c;
    outline: none;
    border-radius: 30px;
    color: #130e0e;
}

.form-control input:focus {
    box-shadow: 0 5px 10px #1d1c1ccc;
}
.form-control input::placeholder {
    color: #bbb3b3;
}

.form-control > .icon,
.form-control .group-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.form-control > .icon {
    left: 30px;
}
.form-control .group-icon {
    right: 30px;
    display: flex;
    gap: 15px;
}

.form-control .icon {
    font-size: 23px;
    color: #3c3c3c;
    cursor: pointer;
}

.form-control .icon:hover {
    color: #000;
}
.group-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.group-btn button {
    border: 2px solid #e5e6e8;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: #fff;
    font-weight: 700;
    padding: 10px 27px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 18px;
    font-weight: 400;
    transition: all 0.2s ease;
}
.group-btn button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px #e0dbdbcc;
    color: #000;
    background: transparent;
}

.content {
    margin-top: 50px;
}
.content .info:not(:first-child) {
    margin-top: 60px;
}
.content p {
    margin-bottom: 15px;
    position: relative;
    padding-left: 150px;
}
.content .title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.content p:first-child .title {
    font-weight: 600;
}
.content .info--content {
    border-radius: 3px;
    padding: 3px 15px;
    color: #fff;
    background-color: #075307;
}

/* slide */

.splide__slide {
    padding: 20px 20px;
    /* border: 1px solid #3c3c3c; */
    background-color: #080808;
    color: #fff;
    border-radius: 10px;
}
.splide__slide p {
    position: relative;
    padding-left: 140px;
    margin-bottom: 3px;
}
.splide__slide span {
    display: inline-block;
    padding: 2px 2px;
}
.splide__slide .title {
    position: absolute;
    display: inline-block;
    left: 0;
}
.splide__slide .info--content {
    min-width: 160px;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
}
.splide__arrow {
    text-decoration: none;
    border-radius: 10px;
    width: 50px;
    height: 40px;
    background: rgba(202, 202, 202, 0.6);
    opacity: 1;
}
.splide__arrow i {
    font-size: 30px;
    color: rgb(22, 16, 16);
}
.splide__arrow--prev {
    left: 5px;
}
.splide__arrow--next {
    right: 5px;
}


/* animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}