@use 'sass:math';
@function toRem($px) {
  $roundedValue: math.round(math.div($px * 1000, 16));
  @return math.div($roundedValue, 1000) + "rem";
}

@mixin globalFont {
  font-weight: bold;
  font-size: $font-size-primary;
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
