@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/ProductSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/ProductSans-Thin.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/ProductSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/ProductSans-Black.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 100;
  src: url("../assets/fonts/ProductSans-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/ProductSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/ProductSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/ProductSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/ProductSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/ProductSans-BlackItalic.woff") format("woff");
}
