body {
    margin: 0;
    min-width: 250px;
    background-image: url(https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 20px 40px;
    padding: 0;
    border-radius: 5px;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background-color: #ebecf0;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.header {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 30px 40px;
    color: #ffffff;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.header h2 {
    font-size: 40px;
    font-weight: bold;
}