@font-face {
    font-family: fontBold;
    src: url('../fonts/GoogleSans-Bold.ttf');
}

@font-face {
    font-family: googleSans;
    src: url('../fonts/GoogleSans-Medium.ttf');
}

body {
    font-family: 'googleSans';
}