.content {
    &__description {
        margin-top: 117px;
        color: $blackColor;
        &--first {
            font-size: 14px;
            color: $primary;
            font-weight: 700;
        }
        &--second {
            font-size: 58px;
            margin-top: 13px;
            max-width: 583px;
            font-weight: 700;
            line-height: 101.8%;
            letter-spacing: 1px;
        }
        &--third {
            margin-top: 37px;
            max-width: 520px;
            font-size: 20px;
            opacity: 0.7;
            line-height: 30px;
        }
    }
}
.form {
    max-width: 515px;
    width: 100%;
    border-radius: 40px;
    padding: 0 11px 0 22px;
    gap: 1rem;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
      0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185),
      0px 20px 13px rgba(0, 0, 0, 0.035),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
    margin-bottom: 120px;
 
    &__input {
      line-height: 68px;
      outline: none;
      border: none;
    }
    &__btn {
      @include button;
      height: 50px;
      width: 180px;
    }
  }
.statistic {
    color: $blackColor;
    text-align: center;
    &__header {
      font-weight: 700;
      font-size: 56px;
      line-height: 71px;
      letter-spacing: -4px;
    }
  
    &__description {
      line-height: 24px;
    }
  }