.btn {
  @include font ($font-size, bold, 19px);
  font-family: "sfProText";
  border: 0px solid;
  width: 342px;
  height: 70px;
  border-radius: $boder-radius;
  color: $color-white;
  animation: moveInBottom 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;

  &__custom {
    text-decoration: none;
    padding: 26px 0 25px 0;
    display: inline-block;
    background: rgba($color-grey, 0.28);

    &:hover {
      background-color: color-button(#FFFFE747);
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
    cursor: pointer;
  }

  &__create {
    background: #52439a;
    &:hover {
      background-color: color-button(#5243CC);
    }
  }

  &__continue {
    background: #78258b;
    &:hover {
      background-color: color-button(#78259F);
    }
  }
}

.form__unline {
  margin: 32px 0 32px 0;
}

/* ------- Sign Up ---------- */
.container__signup .btn {
  box-shadow: $boder-shadow rgba(82, 67, 154, 0.25);
}

/*  --------- Sign In ------------ */

.container__signin .btn {
  box-shadow: $boder-shadow rgba(120, 37, 139, 0.25);
}


/* -------------animation --------------------- */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}