@keyframes blockShowText {
    from {
        // transform: scale(0,1);
        // transform: rotate(360deg);
        transform: translateX(-2000px);
        opacity: 0.1;
    }
    50% {
        transform: translateX(-500px);
        opacity: 0.5;
    }
    to {
        // transform: scale(1,1);
        // transform: rotate(0deg);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes blockShowSubLike {
    from {
        // transform: scale(0,1);
        transform: rotate(180deg) scale(0, 1);
        opacity: 0.1;
    }

    to {
        // transform: scale(1,1);
        transform: rotate(0deg) scale(1, 1);
        opacity: 1;
    }
}
@keyframes blockShowForm {
    from {
        transform: scale(0, 1);
        opacity: 0.1;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

//icon
@keyframes icon599 {
    0% {
        opacity: 0;
        transform: translateX(400px);
        //   transform: scale(0.5);
    }

    50% {
        opacity: 0.5;
        transform: translateX(10px);
        //   transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(0);
        //   transform: scale(1);
    }
}
@keyframes Tym {
    0% {
        opacity: 0;
        transform: translateY(0px);
        //   transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-100px);
        //   transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(-300px);
        //   transform: scale(1);
    }
}
@keyframes like {
    0% {
        opacity: 0;
        transform: translateY(-400px);
        //   transform: scale(0.5);
    }

    50% {
        opacity: 0.5;
        transform: translateY(-10px);
        //   transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(0);
        //   transform: scale(1);
    }
}
//img
@keyframes moveImg {
    from {
        transform: scale(0) translateY(3000px);
    }
    to {
        transform: scale(1) translateY(0);
    }
}