@font-face {
    font-family: sfPro;
    src: url(../../font/SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family: sfProText;
    src: url(../../font/SF-Pro-Text-Bold.otf);
}

@font-face {
    font-family: sfProTextThin;
    src: url(../../font/SF-Pro-Text-Light.otf);
}