.container {
  margin: 100px auto;
  width: 80%;
  border: 3px solid wheat;
  border-radius: 25px ;
  padding: 10px;
}
:hover.container {
    box-shadow: 4px 4px 4px 4px #d48943;
}
.head-page {
  background-color: #0080ff;
  color: aliceblue;
}
.nav-page h2 {
  background-color: rgb(8, 146, 100);
  color: antiquewhite;
}
.nav-page p {
  background-color: brown;
  color: white;
}
.text-style {
  background-color: rgb(221, 122, 90);
  color: rgb(241, 233, 241);
  font-weight: bold;
}
.text-color {
    color: #0080ff;
}
footer {
    text-align: center;
}
.copyright {
    font-weight: bold;
    font-size: 20px;
}
