Handlebars <b>{{doesWhat}}</b> precompiled!

<div class="root">
    <header>
        {{>header}}
    </header>
    <div>
        {{body}}
    </div>
    <footer>
        {{>footer}}
    </footer>
</div>