*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #a39bd2;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: 'Gochi Hand', cursive;
  font-size: 130%;  
  margin: 0;
}

@media only screen and (min-width: 500px) {
  body {
    min-height: 100vh;
  }
}

.container {
  width: auto;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: linear-gradient(144deg, #E5B2CA 0%, #CD82DE 100%);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.title {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color:#A094E3;
  font-size: 1.5rem;
}

.img {
  width: 120px;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.fa-heart {
    color:#7296c5;
}
