@import '../variables/variables';
@import '../mixin/mixin';

// super tablet to min laptop
@media (min-width: 992px) and (max-width: 1399px){
    .menu {
        margin-top: 2px;
    }

    .pageBtn {
        padding: 12px 30px;
        margin-top: -10px;
    }

    .couple {
        width: 450px;
    }

    .contentLeft {
        margin-top: 50px;
        &__notice {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }

    .contentLeft__details {
        font-size: 16px;
    }

    .myForm {
        width: 450px;
        height: 58px;

        .formBtn {
            padding: 11px 30px;
            right: 8px;
        }
    }

    .parameter {
        margin-top: 50px;
        &__header {
            font-size: 40px;
            line-height: 50px;
        }

        &__title {
            font-size: 14px;
            line-height: 22px;
        }
    }

    // .couple {
    //     margin-left: 20px;
    // }

    .images .group-icons {
        left: 30px;
        width: 550px;
    }

    img.true-love {
        right: 30px !important;
        width: 60px;
        top: 350px !important;
    }

    @keyframes move-true-love {
        0% {opacity: 0;transform: scale(0);}
        100% {opacity: 1;transform: scale(1);}
    }
}

//  tablet

@media (min-width: 768px) and (max-width: 991px){
    .menu {
        margin-top: 4px;

        li {
            margin-left: 25px;

            a {
                font-size: 14px;
            }
        }
    }

    .pageBtn {
        padding: 6px 18px;
        margin-top: -6px;
    }

    .couple {
        width: 380px;
    }

    .contentLeft {
        margin-top: 20px;

        &__title {
            font-size: 12px;
        }

        &__notice {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 15px;
        }
    }

    .contentLeft__details {
        font-size: 14px;
    }

    .myForm {
        width: 350px;
        height: 50px;

        .formBtn {
            padding: 10px 25px;
            right: 3px;
        }

        input {
            font-size: 14px;
        }
    }

    .parameter {
        margin-top: 30px;

        &__header {
            font-size: 35px;
            line-height: 45px;
        }

        &__title {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .group-icons {
        display: none;
    }
    
    .true-love {
        display: none;
    }
}

// mobile

@media (max-width: 575px){
    @include mobile-device;
}

// sm library

@media (min-width: 576px) and (max-width: 767px) {
    @include mobile-device;
}