    /* Container */
    
    .container {
        background: linear-gradient(180deg, #E5B2CA 0%, #CD82DE 100%);
        position: absolute;
        height: 896px;
        top: calc(50% - 450px);
        left: calc(50% - 200px);
        bottom: 0;
        width: 414px;
        padding-left: 31px;
        padding-right: 30px;
    }
    /* Header */
    
    .header {
        display: flex;
        height: 44px;
        line-height: 44px;
        justify-content: space-between;
    }
    
    .header_time {
        color: #ffffff;
    }
    
    .header_right {
        display: flex;
    }
    
    .icon_ {
        color: #ffffff;
    }
    
    .icon {
        color: #ffffff;
        padding-right: 15px;
    }
    /* End Header */
    /* Content */
    
    .main_img {
        margin-top: 10px;
    }
    
    .main_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 227px;
        height: 71px;
        left: 130px;
        line-height: 10px;
    }
    
    .context_one {
        color: #ffffff;
        opacity: 0.8;
        font-weight: lighter;
        margin: 15px 20px 15px 0px;
    }
    
    .context_two {
        color: #ffffff;
        font-weight: bolder;
        width: 250px;
        margin-left: 60px;
    }
    
    .content_field {
        margin-top: 35px;
        width: 342px;
        height: 74px;
        position: absolute;
        top: 420px;
        left: 70px;
    }
    
    input[type="text"],
    input[type="password"] {
        border: 0;
        background: #ffffff;
        text-align: left;
        margin: 8px auto;
        border: 2px solid #ffffff;
        padding: 14px 10px;
        outline: none;
        width: 270px;
        padding-left: 60px;
        height: 35px;
        /* font-size: 15px;
    font-family: SFProDisplay-Regular; */
        border-radius: 37px;
    }
    
    input[type="text"] {
        background-image: url('../img/person.png');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position-x: 20px;
        background-position-y: center;
        /* background-position: 15px center; */
    }
    
    input[type="password"] {
        background-image: url('../img/key.png');
        background-repeat: no-repeat;
        background-size: 12px;
        /* background-position-x: left;
    background-position-y: center; */
        background-position: 23px center;
    }
    
    input::placeholder {
        color: #000000;
        font-weight: bold;
    }
    
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #78258B;
        border: 1px solid #78258B;
        width: 342px;
        height: 70px;
        /* color: greenyellow; */
        border-radius: 37px;
        margin: 10px auto;
        cursor: pointer;
        /* font-weight: 700;
        font-style: normal; */
        /* font-size: 16px;
        line-height: 19px;
        color: red; */
        /* box-shadow: 5px 5px 15px#ffffff; */
    }
    
    .content_hor {
        position: absolute;
        width: 342px;
        height: 16px;
        left: 70px;
        top: 739px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    fieldset {
        border: 0;
        border-top: 1px dotted #ffffff;
        width: 200px;
        padding-left: 150px;
    }
    
    h4 {
        padding: 0 15px;
        color: #ffffff;
        font-weight: 200;
    }
    /* End Content */
    /* Footer */
    
    input[type="button"] {
        outline: none;
        border: 0px solid;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: none;
        cursor: pointer;
    }
    
    .content_footer {
        position: absolute;
        width: 342px;
        height: 70px;
        cursor: pointer;
        left: 70px;
        top: 787px;
        background: rgba(255, 255, 255, 0.28);
        box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
        border-radius: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content_footer:hover {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.5));
    }
    /* End Footer */