html,
body {
    font-size: 14px;
    font-weight: 500;
    vertical-align: baseline;
}

table {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #ffffff;
    border-collapse: collapse;
    /* border: 1px solid #000000; */
}

table tr td {
    padding-left: 12px;
    height: 20px;
    line-height: 20px;
}

#col_color {
    background-color: palegreen;
}

#row_1 {
    width: 14.5%;
}

.col_2 {
    background-color: #ccc
}

.row_1,
.row_2,
.row_3,
.row_4,
.row_5 {
    word-wrap: break-word;
    word-spacing: 60px !important;
    margin-left: 40% !important;
}

.td_bold {
    text-align: end;
    padding-right: 8px;
    font-weight: bold;
}