doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      
  body
    h1 Thực hành tìm hiểu Express và Lodash
    p Hà Quốc Tuấn  _.join -> _.reverse 

    a(href="/") Back to home nè

    script(type="module")
      include ../js/lodash.js
    script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js")
      include ../js/lodash.js
