h2 {
    text-align: center;
    text-shadow: 0px 10px 10px #234D3C;
}

.splide__pagination__page {
    background-color: rgb(47, 4, 240);
}

.splide__pagination__page.is-active {
    background-color: gold;
}

.splide__slide {
    /* background-color: grey; */
    padding: 20px 45px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    /* margin: 5px; */
}

.splide__pagination {
    bottom: -1.5em;
}

/* bể cá */
.drag{
    width: 15%;
    margin: 1rem 0 0 1rem;
    color: rgb(2, 2, 2);
    font-weight: bold;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    display: inline-block;
    text-align: center;
    position: relative;
}
.drag >img{
    width: 100%;
}
.drag >p{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 35px;
    bottom: 35px;
}
#shark__tank {
    width: 70%;
    min-height: 1000px;
    border: 1px solid black;
    margin: 100px auto;
}
.noi{
    margin: auto;
    display: block;
}
.lua{
    margin: auto;
    display: block;
}