*{
  box-sizing: border-box;
}
body {
  font-size: 15px;
  margin:auto;
  font-family:Arial, Helvetica, sans-serif;
}
/* ul li {
  list-style: none;
  line-height: 25px;
  font-size: 15px;
} */
.root {
  
  margin-bottom: 12px;
   padding: 20px 60px;
  height: 300px;
  

}
.root>li {
line-height: 25px;
}
h1{
  text-align: center;
   color: aquamarine;
  margin-bottom:50px;
}

.footer-container{
    width : 750px;
    margin-left: 700px;
    margin-top: 20px;
} 
 p {
  display: inline;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.section {
  display: grid;
  width: 100vw;
  padding: 1rem;
}
@media screen and (min-width: 480px) {
  .section {
    width: 60vw;
  }
}
.form-input {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 3rem;
  align-items: center;
  overflow: hidden;
}
.form-input i {
  margin: 0 1rem;
}
.input-name {
  outline: none;
  border: none;
  font-size: 1em;
  line-height: 2rem;
  vertical-align: middle;
}
.wrap-button {
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn-primary {
  padding: 0.6rem;
  border: none;
  background-color: #e0e3e6;
  border-radius: 10px;
}
.btn-primary:hover,
btn-primary:focus {
  background-color:#b4b4b4 ;
  cursor: pointer;
}
.root {
  width : 750px;
  margin-top: 10px;
  
  gap: 1rem;
}
.student-points {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}
.bold-name{
  font-weight: 600;
}
.red-point {
  color: red;
}
.ui-table-footer {
  outline: none;
  margin-bottom: 12px;
  padding: 20px 60px;
  background-color: #D8BFD8;
}
table tr td{
  line-height: 23px;
}
td{
  padding-left:20px;
}