#drag-1,
#drag-2,
#drag-3,
#drag-4,
#drag-5,
#drag-6,
#drag-7,
#drag-8,
#drag-9,
#drag-10,
#drag-11,
#drag-12,
#drag-13,
#drag-14,
#drag-15,
#drag-16,
#drag-17,
#drag-18,
#drag-19,
#drag-20,
#drag-21,
#drag-22 {
    width: 5%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    /* touch-action: none; */
    /* user-select: none; */
    transform: translate(0px, 0px);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#container {
    width: 75%;
    height: 75%;
    padding: 1em;
    margin: 1em;
    overflow: hidden;
    border-radius: 0.75rem;
    background-color: lightgray;
    user-select: none;
    touch-action: none;
    box-sizing: border-box;
}