

@font-face {
    font-family: casual;
    src: url('../css/fonts/GoogleSans-Bold.otf');
}

@font-face {
    font-family: googleSans;
    src: url('../css/fonts/GoogleSans-Medium.otf');
}
@font-face {
    font-family: italic;
    src: url('../css/fonts/GoogleSans-Italic.otf');
}
@font-face {
    font-family: googleSans;
    src: url('../css/fonts/GoogleSans-Regular.otf');
}