

.form {
    width: 515px;
    height: 68px;
    position: relative;
    animation: moveRight 2s;
    animation-fill-mode: backwards;

    &__icon {
        position:absolute;
        top: 50%;
        left: 22px;
        transform: translateY(-50%);
        width: 25px;
        height: 20px;
        color: #BABBC2;
    }

    input {
        width: 100%;
        height: 100%;
        background: #fff;
        padding-left: 65px;
        border-radius: 40px;

        &::placeholder { 
            color: #BABBC2;
        }
    }

    &__btn--getEmail {
       color: #F4EBE6;
       background: $secondaryColor;
       position: absolute;
       right: 11px;
       top: 50%;
       transform: translateY(-50%);
       margin-top: 0;
       padding: 15px 45px;
    }
  
    &:focus {
        box-shadow: none !important;
    }
}