@keyframes moveTop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }


  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0rem);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}