body {
    background: radial-gradient(circle, rgb(218, 181, 198) 0%, rgba(235,157,171,1) 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
    font-family: Pixel;
}
.box {
    width: 1200px;
    background-color:#222222;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 7px 30px rgb(129, 129, 129);
}
.logo h1 {
    text-align: center;
    color: yellow;
    font-size: 50px;
}
.search-bar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #4fbe41;
    padding-left: 20px;
    padding-right: 5px;
}
.search-bar input {
    height: 45px;
    border: none;
    width: 500px;
    font-size: 16px;
    outline: none;
    background-color: #222222;
    color: white;
    padding: 0 10px;
}
.action-btn {
    margin: 0 auto;
    width:402px;
    margin-top: 20px;
}
.action-btn button {
    background-color: #222222;
    border: 1px solid rgb(128, 128, 207);
    color: white;
    font-size: 15px;
    padding: 20px 40px;
    margin: 15px;
    border-radius: 30px;
    outline: none;
    font-family: Pixel;
    transition: 0.5s;

}
.action-btn button:hover {
    transform: scale(1.15);
    border: 1px solid #5fa057;
    background-color: rgb(53, 53, 53);
}
.result li {
    list-style-type: none;
    border: 1px solid;
    padding: 10px;
}
.result {
    width: 600px;
    margin: 20px auto;
    padding-bottom: 30px;
}
.result h2 {
    font-weight: 500;
    text-align: center;
}
.result b {
    font-weight: 500;
    color: rgb(233, 151, 96);
}
/*------------------------------------------------------*/
@font-face {
    font-family: Pixel;
    src: url('../font/SVN-Determination\ Sans.otf');
}