*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

main{
    margin-top: 30px;
    margin-left: 30px;
    width: 200px;
}

main h1{
    margin-bottom: 30px;
}

.check-group{
    padding: 15px 10px;
    height: 30px;
    display: flex;
    border-radius: 10px;
}

.check-group input{
    height: 30px;
    width: 30px;

}

.check-group label{
    display: block;
    height: 30px;
    padding-left: 15px;
    line-height: 30px;
    font-size: 20px;
}

.check-group:hover{
    cursor: pointer;
    background-color: #00ffff3b;
}

.check-group:hover input{
   cursor: pointer;
}

.check-group:hover label{
    cursor: pointer;
    color: #e91e63c7;
}