* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #0A0A10;
    max-width: 414px;
    margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%,-50%);
    padding-bottom: 50px;
}

.header .phoneInformation {
    display: flex;
    padding: 12px 12px 0px 24px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header .battery {
    font-size: 20px;
    position: relative;
    top: 2px;
}

.banner {
    padding: 0 24px;
    padding-bottom: 10px;
}


.banner .titleBanner {
    margin-top: 42px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
}


.content {
    margin-top: 50px;
    padding: 0 36px;
}

.content .inputForm {
    width: 342px;
    height: 65px;
    border-bottom: 1px solid #848487;
    padding-left: 5px;
}

.content .inputFormTitle{
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 12px;
}

.content .acountInfor {
    position: relative;
}

.acountInfor > img {
    position: absolute;
    bottom: 0px;
    right: 16px;
}

.acountInfor input {
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.23999999463558197px;
    text-align: left;
}

.acountInfor > img:hover {
    cursor: pointer;
}



.content .password {
    margin-top: 32px;
    padding-bottom: 24px;
}

.btnGroup {
    margin-top: 24px;
}

.btnGroup .btn {
    font-size: 17px;
    font-weight: 500;
    line-height: 3px;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btnGroup .btnFirst{
    width: 342px;
    height: 68px;
    background: #D93856;
}

.btnFirst .nextBtn {
    font-size: 16px;
    position: relative;
    top: 2px;
    left: 10px;
}

.btnGroup .btnSecond{
    width: 342px;
    height: 68px;
    background: rgba(255, 255, 255, 0.14);
    margin-top: 14px;
}

.btnSecond img{
    margin-right: 26px;
}

.footer {
    margin-top: 46px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
}

.footer span {
    color: #9D9D9F;
}

.footer a {
    color: #fff;
    text-decoration: none;
}