* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background: linear-gradient(180deg, #E5B2CA 0%, #CD82DE 100%);
    max-width: 414px;
    margin-left: 50%;
    margin-top: 50vh;
    transform: translate(-50%,-50%);
    padding-bottom: 45px;
}

.container.signUp {
    background: linear-gradient(180deg, #9183DE 0%, #A094E3 100%);
}

.header .phoneInformation {
    display: flex;
    padding: 12px 14px 0px 22px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header .times {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;

}

.header .battery {
    font-size: 20px;
    position: relative;
    top: 2px;
}

.banner {
    padding: 0 30px;
    padding-bottom: 10px;
}


.banner .titleBanner {
    margin-top: 5px;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: center;
}

.titleBanner .titleBannerHead {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

.titleBanner .titleBannerContent {
    font-size: 34px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 6px;
}

.content {
    margin-top: 37px;
    padding: 0 36px;
}

.content .inputForm {
    width: 342px;
    height: 72px;
    padding-left: 5px;
    position: relative;
}

.inputForm input{
    width: 100%;
    height: 72px;
    border-radius: 37px;
    padding: 0 60px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #3C3C43;
}

.inputForm i {
    position: absolute;
    color: #3C3C43;
    left: 30px;
    top: 49%;
    transform: translateY(-50%);
}


.content .formGroup .password {
   margin-top: 14px;
}

.btn {
    margin-top: 14px;
    width: 342px;
    height: 70px;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
}

.btn.btnTop {
    background: #78258B;
}

.btn.btnSignUp {
    background: #52439A;
}

.btn i {
    margin-left: 8px;
    margin-bottom: -1px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.btn.btnBottom {
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
}

.btnBottom a { 
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 14px 0;
}

.lineFooter {
    position: relative;
    text-align: center;
    top: 32px;
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
}

.lineFooter div {
    position: absolute;
    width: 148px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

.lineFooter .lineLeft {
    left: 0;
    top: 50%;
}

.lineFooter .lineRight {
    right: 0;
    bottom: 50%;
}
