@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-Black.woff") format("woff");

  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-BlackItalic.woff") format("woff");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-Bold.woff") format("woff");

  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-BoldItalic.woff") format("woff");

  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-Italic.woff") format("woff");

  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-Light.woff") format("woff");

  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-LightItalic.woff") format("woff");

  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-Medium.woff") format("woff");

  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-Regular.woff") format("woff");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-Thin.woff") format("woff");

  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../fonts/ProductSans-ThinItalic.woff") format("woff");

  font-style: italic;
  font-weight: 100;
}
