//list color
$colorBasic: #ffffff;
$backgroundColor: #feefe3;
$textLight: #f4ebe6;
$textColor: #1a1d32;
$textColorItem: #7d8790;
$colorHover: #ed9b59;
$textDatify: #ed9b59;
$colorDatify: #b35e21;

//fontsize
$fontsize: 16px;
$fontweight: bold;