// MY THEME COLORS
$brown-color: #feefe3;
$orange-color: #ed9b59;
$red-color: #ee0f32;
$white-color: #ffffff;
$black-color: #1a1d32;
$gray-color: #7d8790;
$brown-2-color:#B35E21;

//CUSTOM COLOR NAVBAR
$navbar-light-color: $gray-color;
$navbar-light-hover-color: $orange-color;
$navbar-light-active-color: $orange-color;
$navbar-light-brand-color: $black-color;
$navbar-light-disabled-color: rgba($black-color, 0.3);

$bg-color: $brown-color;
$btn-color: #f4ebe6;
// MY FONTS STYLE

// FONTS SIZE
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 3.625;
$h2-font-size: $font-size-base * 3.5;
$h3-font-size: $font-size-base * 3;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base;

//FONT WEIGHT
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// LINE HEIGHT
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

//BORDER
$border-radius: 2.5rem;

//URL
$url-image: "/assets/images";

//IMPORT BOOTSTRAP 5

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
