table {
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
table, td, tr {
    border:1px solid black;
    border-collapse: collapse;

}
td {
    padding: 10px 50px;
}
th {
    font-weight: normal;
    padding: 8px 0;
}
tr {
    margin: auto;
}
caption {
    caption-side:inherit;
    font-size: 28px;
}
.box {
    position: relative;
}
.td-right td {
    text-align: right;
    padding-right: 5px;
}

.td-left td {
    text-align: left;
    padding-left: 5px;
}
tr .thesis-text {
    text-align: center;
    padding: 10px;
}

tr .break-text {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.time-color {
    background-color: #99fb98;
}

.has-color {
    background-color: #cccccc;
}