*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
head a{
    display: inline-block;
}
a{
    text-decoration: none;
    color: #000;
}
nav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
