
@font-face {
    font-family: sfPro;
    src: url(../assets/font/FontsFree-Net-SFProText-Medium-1.ttf);
}

/* reset bố cục */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body {
    width: 100%;
    display: flex;
    font-family: sfPro;
}

/* Style thanh status */
.status_bar {
    color: white;
    height: 44px;
    width: 414px;
    position: relative;
}
.left_status_bar {
    position: absolute;
    font-size: 15px;
    width: 54px;
    height: 21px;
    top: 7px;
    left: 21px;
}
.left_status_bar > span {
    position: absolute;
    bottom: 0px;
    left: 25%;
}

.right_status_bar {
    position: absolute;
    right: 14px;
    top: 7px;
    font-size: 15px;
}
.right_status_bar i {
    margin-left: 5px;
}

/* Style phần container */
.container{
    margin: auto;
    width: 414px;
    height: 896px;
}

/* Style main */
.main {
    width: 414px;
}

/* Style ảnh nền */
.img {
    width: 353px;
    height: 290px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.img > img {
    width: 423px;
    position: absolute;
    left: -55px;
    top: -80px;
}

/* Style title page */
.title_page {
    text-align: center;
}

.title_page p:first-child{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.75);
}
.title_page p:last-child{
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
}

/* Style Form login */
.form {
    margin-top: 37px;
}

.form .style_input {
    width: 342px;
    height: 74px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 37px;
    position: relative;
}

.form img {
    width: 13px;
    position: absolute;
    top: 30px;
    left: 22px;
}

.form input {
    position: absolute;
    left: 60px;
    width: 185px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    top: 28px;
    outline: none;
}

.form .password {
    margin-top: 14px;
}

.form .sumbit {
    text-align: center;
    margin-top: 14px;
    line-height: 70px;
    cursor: pointer;
    margin-left: 31px;
    border: none;
}
.sumbit > span {
    font-weight: 700;
    font-size: 16px;
    color: white;
}

/* Style khoảnh cách (or) */
.or {
    width: 340px;
    height: 16px;
    color: white;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.or::before {
    content: "-------------------- ";
}

.or::after {
    content: "--------------------";
}


/* Style chuyển trang */
.change_page {
    width: 342px;
    height: 74px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 37px;
    position: relative;
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0px 25px 45px rgba(120, 37, 139, 0.25);
    color: white;
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}

.change_page > span > a:visited{
    color: white;
    text-decoration: none;
}