@font-face {
    font-family: "Google Sans";
    font-weight: normal;
    font-style: normal;
    src: url('/NamNT/font/ProductSans-Thin.ttf');
}

@font-face {
    font-family: "Google Sans Medium";
    font-weight: normal;
    font-style: normal;
    src: url('/NamNT/font/ProductSans-Medium.ttf');
}

@font-face {
    font-family: "Google Sans Bold";
    font-weight: normal;
    font-style: normal;
    src: url('/NamNT/font/ProductSans-Bold.ttf');
}

@font-face {
    font-family: "Google Sans Regular";
    font-weight: normal;
    font-style: normal;
    src: url('/NamNT/font/ProductSans-Regular.ttf');
}

@font-face {
    font-family: "Google Sans Thin";
    font-weight: normal;
    font-style: normal;
    src: url('/NamNT/font/ProductSans-Thin.ttf');
}

@font-face {
    font-family: "Google Sans Light";
    font-weight: normal;
    font-style: normal;
    src: url('/NamNT/font/ProductSans-Light.ttf');
}