doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js") 
  body
    block content
    script(src="/javascripts/index.js") 
