@import './variables';
@import './mixin';

.header {
    margin-top: 37px;
    margin-bottom: 18px;

    &__logo {
        position: relative;

        span {
            position: absolute;
            margin-left: 10px;
            top: 4px;
            font-weight: 700;
        }
    }
}

.content{
    .content__left {
        margin-top: 117px;
        margin-left: 5px;
        &--title {
            color: $Color;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 10px;
        }
        &--notice {
            font-size: 58px;
            font-weight: 700;
            line-height: 59px;
            margin-bottom: 30px;
            span {
                color: $Color;
            }
        }
        &--details {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 10px;
            opacity: 70%;
        }
    }
    .quantity {
        display: flex;
        margin-top: 119px;
        &__header {
            font-size: 56px;
            font-weight: 700;
            line-height: 71px;
            letter-spacing: -4px;
            padding-left: 10px;

            &--mid {
                color: #B25E21;
                padding-left: 15px;
            }
        }

        &__title {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            margin-top: 8px;
            padding-left: 15px;
        }
    }

    .images {
        position: relative;
        margin-left: 20px;
        .couple {
            margin-left: 50px;
            filter: drop-shadow(20px 20px 30px rgb(238, 178, 178));
            position: absolute;
            animation: couple 2s;
        }
        .group-icons {
            position: absolute;
            left: 80px;
            top: 20px;
            animation: group-icons 2s;
        }
        @keyframes couple {
            0% {left: 100%;}
            50% {left: 0;}
            100% {left: 0;}
        }
        @keyframes group-icons {
            0% {top: -200px}
            50% {top: 60px}
            100% {top: 20px}
        }
    }
    .select {
        position: absolute;
        width: 398px;
        height: 294px;
        left: 700px;
        top: 660px;
        &__header {
            margin-top: 10px;
            &--gender{
                @include selectHeader;
                color: $Color;
                padding: 12px 44px 12px 15px;
                .gender-icon{
                    margin-right: 15px;
                }
            }
            &--age {
                @include selectHeader;
                background-color: $Color;
                color: #fff;
                padding: 12px 12px 12px 11px;
                .age-icon{
                    margin-right: 10px;
                }
            }
            &--city {
                @include selectHeader;
                color: $Color;
                padding: 12px 22px 12px 9px;
                .city-icon{
                    margin-right: 10px;
                }
            }
        }
        &__content {
            margin-top: 36px;
            &--first{
                @include selectContent;
            }
            &--second{
                @include selectContent;
                margin-top: 18px;
                margin-left: 26px;
            }
            &--img{
                margin-right: 26px;
            }
            &--infor-name {
                font-weight: 700;
                color: #7d8790;
                margin-top: 16px;
                margin-bottom: 0;
            }
            &--infor-address {
                font-size: 14px;
                color: #7d8790;
                opacity: 0.5;
            }
            &--btn{
                font-weight: 700;
                background: $Color;
                box-shadow: 0px 100px 161px rgba(245, 155, 90, 0.08), 0px 64.8148px 94.2894px rgba(245, 155, 90, 0.0607407), 0px 38.5185px 51.2815px rgba(245, 155, 90, 0.0485926), 0px 20px 26.1625px rgba(245, 155, 90, 0.04), 0px 8.14815px 13.1185px rgba(245, 155, 90, 0.0314074), 0px 1.85185px 6.33565px rgba(245, 155, 90, 0.0192593);
                border-radius: 40px;
                line-height: 20px;
                color: #f4ebe6;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                border: none;
                margin-left: 50px;
                margin-top: 16px;
                width: 76px;
                height: 44px;
                border-radius: 10px;
                    }
        }
    }
}
.display--none {
    display: none;
}
a.activeItemMenu {
    color: $Color;
    &::after {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background-color: $Color;
        border-radius: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 4px;
        position: absolute;
    }
}
.activeBtn {
    color: #F4EBE6;
    background: $Color;
}
