.info-contact {
    margin-top: 70px;
    @include responsive($lg-width) {
        margin-top: 117px;
    }
    &__text {
        animation: textTop 1.5s ease-in-out 1 ;
        @include fontREM(18);
        &--small {
            animation: none;
            @include fontREM(14);
            margin-bottom: 13px;
        }
    }

    &__title {
        animation: textTop 1s ease-in-out 1;
        @include responsive($xl-width) {
            width: 563px;
        }
        margin-bottom: 37px;
    }
}

.form-contact {
    animation: textTop 2s ease-in-out 1;
    margin-top: 22px;
    &__input {
        // @include flexbox(center, space-between);
        position: relative;
        // padding: 8px 11px 10px 22px;
        @include responsive($md-width) {
            border-radius: $border-radius;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481),
                0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035),
                0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
        }

        svg {
            display: none;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            transition: transform 0.3s ease-in-out;
            @include responsive($md-width) {
                display: block;
            }
        }
        input {
            @include fontREM(14);
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            transition: transform 0.3s ease-in-out;
            padding: 15px 125px 15px 15px;
            border-radius: 10px;
            @include responsive($md-width) {
                padding: 17px 125px 17px 60px;
                border-radius: $border-radius;
            }
            @include responsive($lg-width) {
                padding: 24px 195px 24px 65px;
                border-radius: $border-radius;
            }
            &:focus {
                transform: translateY(-2px);
                box-shadow: 0 10px 10px rgba($color-black, 0.3) !important;
            }
            &::placeholder {
            }
        }
        input:focus ~ .btn--input,
        input:focus ~ svg {
            top: 50%;
            transform: translateY(calc(-50% - 2px));
        }
        .btn--input {
            position: absolute;
            right: 11px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
        }
    }
}

.group-number {
    margin-top: 20px;
    @include flexbox(start, center, column);
    gap: 30px;

    @include responsive($md-width) {
        @include flexbox(start, space-between, row);
        margin-top: 50px;
    }
    @include responsive($lg-width) {
        margin-top: 119px;
        width: 546px;
    }
    &__number {
        font-weight: bold;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: -4px;
        @include responsive($lg-width) {
            font-size: 56px;
            line-height: 71px;
            letter-spacing: -4px;
        }
    }
    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #1a1d32;
    }
}
