.container {
    width: 100%;
    min-height: 896px;
    margin: 0 auto;
  }
  
  .container-login {
    background: linear-gradient(180deg, #e5b2ca 0%, #cd82de 100%);
  }
  
  .layout-header {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .layout-banner {
    margin: 0px auto;
    width: 100%;
  }
  
  .layout-title {
    width: 227px;
    height: 71px;
    margin: 5px auto 37px;
    text-align: center;
  }
  
  .layout-form {
    width: calc(100% - 72px);
    margin: 0px auto;
    padding-bottom: 45px;
  }