

.input {
    position: absolute;
    width: 800px;
    height: 74px;
    left: 100px;
    top: 100px;
    background: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 37px;
}
.icon {
    position: absolute;
    width: 13.04px;
    height: 13.91px;
    left: 21.87px;
    top: 29.89px;
    color: #ccc;
}
#user-text {
    position: absolute;
    width: 700px;
    height: 18px;
    left: 60px;
    top: 28px;
    font-style: normal;
    font-size: 20px;
    line-height: 18px;
    border: none;
    
    outline: none;
}
.btn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(173, 141, 231);
    cursor: pointer;
    border-radius: 10px ;
}
.btn1 {
    position: absolute;
    left: 250px;
    top: 200px;
    
}
.btn2 {
    position: absolute;
    left: 500px;
    top: 200px;
}
#showInfor {
    position: absolute;
    top: 300px;
    left: 40px;
    border: 1px solid;
} 
.info-table{
    height: 200px;
}

.infor-row {
    display: flex;
    height: 40px;
    line-height: 40px;
    border-bottom:  1px solid;
    text-align: center;
}

.infor-row .label {
    padding-left: 10px;
    border-right: 1px solid;
    background-color: #d3d3d3;
    
}

.infor-row:nth-child(odd){
    border-bottom: 1px solid;
}

.infor-row div:first-child {
    width: 170px;
}
.infor-row div:last-child {
    width: 200px;
    
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    width: 100px;
    height: 40px;
    border: 1px solid grey;
}
